body {
    background-color: #fff;
}

#image {
  margin: 20px auto;
  display: block;
  padding-top: 5%;
  padding-left: 15%;
  

  }

  #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;     
  }

  .navbar2 {
    display: inline;
    padding-left: 2%;
    float: right;
    white-space: nowrap;
  }

  .button-nav {
      color: rgba(0,0,0,0.87);
      font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
      z-index: 986;
      display: inline-block;
      line-height: 24px;
      vertical-align: middle;
      text-decoration:none;
      list-style: none;
  }
  
  .border-icon {
      border-radius: 50%;
    }

   .googleapp {
       height: 32px;
       width: 32px;
   } 

   #navbar3 {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background-color:     padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    position: relative;
    bottom: -450px;
    list-style: none;
   }

   .bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    position: relative;
    bottom: -3px;
    height:20px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;